{% extends "base.html" %} {% block title %}Mudar Senha{% endblock %}{% block
content %}
<form method="POST">
  <br />
  <h3 align="center">Mudar Senha</h3>
  <div class="form-group">
    <label for="email">Senha Atual</label>
    <input
      type="password"
      class="form-control"
      id="oldpassword"
      name="oldpassword"
      placeholder="Senha Atual"
    />
  </div>
  <div class="form-group">
    <label for="senha1">Senha Nova</label>
    <input
      type="password"
      class="form-control"
      id="newpassword"
      name="newpassword"
      placeholder="Nova Senha"
    />
  </div>
  <div class="form-group">
    <label for="senha2">Confirme sua senha</label>
    <input
      type="password"
      class="form-control"
      id="newpasswordconf"
      name="newpasswordconf"
      placeholder="Confirme sua senha"
    />
  </div>
  <br />
  <h3 align="center">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </h3>
</form>
{% endblock %}
